*.checkpoint.ipynb
*.pyc
.ipynb_checkpoints/illustrasjoner_fra_bokhylla-checkpoint.ipynb
.ipynb_checkpoints/Illustrasjoner i bøker-checkpoint.ipynb
.ipynb_checkpoints/Illustrasjoner i bøker-checkpoint.ipynb
*.pyc
