*.checkpoint.ipynb
*.pyc
.ipynb_checkpoints/illustrasjoner_fra_bokhylla-checkpoint.ipynb
.ipynb_checkpoints/Illustrasjoner i bøker-checkpoint.ipynb
.ipynb_checkpoints/Illustrasjoner i bøker-checkpoint.ipynb
*.pyc
.ipynb_checkpoints/Illustrasjoner i bøker-Copy2-checkpoint.ipynb
.ipynb_checkpoints/Illustrasjoner i bøker-skillingstrykk-checkpoint.ipynb
